@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" >
    <img src="https://i.pinimg.com/736x/50/c3/76/50c3760c4f9fd7df41c5d40e3a72b259.jpg" style="height: 300px;">
    <h1 class="display-4">Equipo 6</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <p>Carolina Rodriguez</p>
    <p>Andrés Sánchez</p>
    <p>Raul Ahumada</p>
    <p>Daniel Guerrero</p>
</div>
